body {
    background: yellowgreen;
    color: #fff;
    margin: 0;
}

.header {
    background-color: darkblue;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}
.header a {
    text-align: center;
    text-decoration: none;
}